/* tree */
.LandingPage {
    height: 93vh;
    background: url(../../../img/homePage.png) no-repeat center;
    background-size: 650px 650px;
    min-width: 1100px;
    min-height: 650px;
    background-color: rgb(245, 252, 249);
    /* background-attachment: fixed; */
    display:flex;
    align-items: center;
    justify-content: center;    
}

.tree{
    width: 580px;
    height: 600px;
    border-top-left-radius: 290px;
    border-top-right-radius: 290px;
    position: absolute;
}

/* flower and leaves */
.flower{
    background: url(../../../img/flower.png) no-repeat center;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;;
}

.flower:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}


.apple{
    background: url(../../../img/apple.png) no-repeat center;
    background-size: contain;
    position: absolute;
    transition: all 0.2s ;
    cursor: pointer;
}

.apple:hover{
    background: url(../../../img/applehover.png) no-repeat center;
    background-size: contain;
    position: absolute;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.leaf1{
    background: url(../../../img/leaf1.png) no-repeat center;
    background-size: contain;
    position: absolute;
}


.leaf2{
    background: url(../../../img/leaf2.png) no-repeat center;
    background-size: contain;
    position: absolute;
}

.leaf3{
    background: url(../../../img/leaf3.png) no-repeat center;
    background-size: contain;
    position: absolute;
}

/* fallingLeaves */
.falling1{
    background: url(../../../img/leaf1.png) no-repeat center;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.6;

    /* animation-name: falling;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    -webkit-animation-name: falling;
    -webkit-animation-duration:5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; */
}

.falling2{
    background: url(../../../img/leaf2.png) no-repeat center;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.6;

    /* animation-name: falling;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    -webkit-animation-name: falling;
    -webkit-animation-duration:5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; */
}
/* 
.falling3{
    background: url(../../../img/leaf3.png) no-repeat center;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.3;

    animation-name: falling;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    -webkit-animation-name: falling;
    -webkit-animation-duration:5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
} */

/* @keyframes falling {
    0% {
      top: 0vh;
    }
    100% {
      top: 90vh;
    }
  }

@-webkit-keyframes falling {
    0% {
        left:200px;
    }
    100% {
        left:500px;
    }
} */

.readingBoy{
    background: url(../../../img/reading.png) no-repeat center;
    background-size: contain;
    position: relative;
    top: 233px;
    left: 75px;
    width: 130px;
    height: 130px;
    transition: all 0.2s ;
    cursor: pointer;
}

.readingBoy:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}