
.navLi{
    text-decoration: none;
    color: black;
}

nav{
    background-color: rgb(245, 252, 249);
    padding: 0 1rem;
    min-height: 35px;
    min-width: 650px;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1000;
    font-family: "KyoboHandwriting2020A";
}

#btnZone{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.btn{
    padding: 0 2rem;
}

.userName{
    padding: 0 10px;
}

.home{
    background: url(../../img/flower2.png) no-repeat center;
    background-size: cover;
    position: absolute;
}