/* moviePage */
.moviePage{
    display: flex;
    flex-direction: column;
    min-width: 1100px;
    width: 100%;
    min-height: 93vh;
    background-color: rgb(245, 252, 249);
    font-family: "KyoboHandwriting2020A";
}

.moviePageRegister{
    margin: 0 40px;
}

.movieShelfPage{
    /* padding: 30px 0 0 0; */
    width: 100%;
    min-height: 250px;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.movieShelf{
    background: url(../../img/note.png) no-repeat center;
    background-size: contain;
    width: 500px;
    height: 135px;
    position: relative;
}

.movieOnShelf{
    position: absolute;
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticket.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.movieOnShelf:hover{
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticketAfter.png) no-repeat center;
    background-size: contain;
}

.movieOnShelf2{
    position: absolute;
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticket2.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.movieOnShelf2:hover{
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticketAfter2.png) no-repeat center;
    background-size: contain;
}

.movieOnShelf3{
    position: absolute;
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticket3.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.movieOnShelf3:hover{
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticketAfter3.png) no-repeat center;
    background-size: contain;
}

.movieOnShelf4{
    position: absolute;
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticket4.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.movieOnShelf4:hover{
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticketAfter4.png) no-repeat center;
    background-size: contain;
}

.movieOnShelf5{
    position: absolute;
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticket5.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.2s;
}

.movieOnShelf5:hover{
    height: 80px;
    width: 40px;
    bottom: 25px;
    background: url(../../img/ticketAfter5.png) no-repeat center;
    background-size: contain;
}


.movieList{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.AMovie{
    width: 200px;
    height: 260px;
    margin: 10px 0;
    cursor: pointer;
}